<nav class="nav navbar navbar-expand-lg navbar-light iq-navbar border-bottom">
  <div class="container-fluid navbar-inner">
    <a href="{{path}}dashboard/index.html" class="navbar-brand">
    </a>
    <div class="sidebar-toggle" data-toggle="sidebar" data-active="true">
        <i class="icon">
         <svg width="20px" height="20px" viewBox="0 0 24 24">
            <path fill="currentColor" d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z" />
        </svg>
        </i>
    </div>
      <h4 class="title">
        Dashboard
      </h4>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      {{!-- <span class="navbar-toggler-icon"></span> --}}
      <span class="navbar-toggler-icon">
          <span class="navbar-toggler-bar bar1 mt-2"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto navbar-list mb-2 mb-lg-0 align-items-center">
        <li class="nav-item dropdown">
          <a href="#"  class="nav-link" id="notification-drop" data-bs-toggle="dropdown" >
            <svg width="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 17.8476C17.6392 17.8476 20.2481 17.1242 20.5 14.2205C20.5 11.3188 18.6812 11.5054 18.6812 7.94511C18.6812 5.16414 16.0452 2 12 2C7.95477 2 5.31885 5.16414 5.31885 7.94511C5.31885 11.5054 3.5 11.3188 3.5 14.2205C3.75295 17.1352 6.36177 17.8476 12 17.8476Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M14.3889 20.8572C13.0247 22.3719 10.8967 22.3899 9.51953 20.8572" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>                            
            <span class="bg-danger dots"></span>
          </a>
          <div class="sub-drop dropdown-menu iq-noti dropdown-menu-end p-0" aria-labelledby="notification-drop">
              <div class="card shadow-none m-0">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                      <p class="fs-6 ">New notifications.</p>
                    </div>
                    <div class="header-title">
                      <p class="fs-6">Mark all</p>
                    </div>
                </div>
                <div class="card-body p-0">
                    <a href="#" class="iq-sub-card">
                      <div class="d-flex">
                          <img src="{{path}}assets/images/utilities/05.png" class="img-fluid avatar avatar-30 avatar-rounded" alt="img51"><div class="ms-3 w-100">
                            <h6 class="mb-0 ">Successfull transaction og 0.01 BTC</h6>
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="mb-0">15 mins ago</p>
                                </div>
                          </div>
                      </div>
                    </a>
                    <a href="#" class="iq-sub-card">
                      <div class="d-flex align-items-center">
                          <div class="">
                            <img src="{{path}}assets/images/utilities/03.png" class="img-fluid avatar avatar-30 avatar-rounded" alt="img52">
                          </div>
                          <div class="ms-3 w-100">
                            <h6 class="mb-0 ">4 of Pending Transactions!</h6>
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="mb-0">30 mins ago</p>
                                
                            </div>
                          </div>
                      </div>
                    </a>
                    <a href="#" class="iq-sub-card">
                      <div class="d-flex align-items-center">
                          <img src="{{path}}assets/images/utilities/04.png" class="img-fluid avatar avatar-30 avatar-rounded" alt="img53"><div class="ms-3 w-100">
                            <h6 class="mb-0 ">Cancelled order of 2000 ICO</h6>
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="mb-0">55 mins ago</p>
                                
                            </div>
                          </div>
                      </div>
                    </a>
                    <a href="#" class="iq-sub-card">
                      <div class="d-flex align-items-center">
                          <img src="{{path}}assets/images/utilities/05.png" class="img-fluid avatar avatar-30 avatar-rounded" alt="img54"><div class="w-100 ms-3">
                            <h6 class="mb-0 ">Great speed notify of 1.34 LTC</h6>
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="mb-0">14 Mar</p>
                                
                            </div>
                          </div>
                      </div>
                    </a>
                </div>
              </div>
          </div>
        </li>
        <li class="nav-item dropdown" >
          <a href="#" class="nav-link" id="mail-drop" data-bs-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
            <svg width="22" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.9028 8.85107L13.4596 12.4641C12.6201 13.1301 11.4389 13.1301 10.5994 12.4641L6.11865 8.85107" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M16.9089 21C19.9502 21.0084 22 18.5095 22 15.4384V8.57001C22 5.49883 19.9502 3 16.9089 3H7.09114C4.04979 3 2 5.49883 2 8.57001V15.4384C2 18.5095 4.04979 21.0084 7.09114 21H16.9089Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>                            
            <span class="bg-primary count-mail"></span>
          </a>
          <div class="sub-drop dropdown-menu dropdown-menu-end p-0" aria-labelledby="mail-drop">
              <div class="card shadow-none m-0">
                <div class="card-header d-flex justify-content-between py-3">
                    <div class="header-title">
                      <p class="mb-0 text-white">Our Latest News</p>
                    </div>
                </div>
                <div class="card-body p-0 ">
                    <a href="#" class="iq-sub-card">
                      <div class="d-flex ">
                          <div class="">
                            <img src="{{path}}assets/images/coins/02.png" class="img-fluid avatar avatar-50 avatar-rounded" alt="img55">
                          </div>
                          <div class=" w-100 ms-3">
                            <h6 class="mb-0 ">Bitcoin</h6>
                            <small class="float-left font-size-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </small>
                          </div>
                      </div>
                    </a>
                    <a href="#" class="iq-sub-card">
                      <div class="d-flex">
                          <div class="">
                            <img src="{{path}}assets/images/coins/03.png" class="img-fluid avatar avatar-50 avatar-rounded" alt="img56">
                          </div>
                          <div class="ms-3">
                            <h6 class="mb-0 ">Ethereum</h6>
                            <small class="float-left font-size-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </small>
                          </div>
                      </div>
                    </a>
                    <a href="#" class="iq-sub-card">
                      <div class="d-flex">
                          <div class="">
                            <img src="{{path}}assets/images/coins/06.png" class="img-fluid avatar avatar-50 avatar-rounded" alt="img57">
                          </div>
                          <div class="ms-3">
                            <h6 class="mb-0 ">Litecoin</h6>
                            <small class="float-left font-size-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
                          </div>
                      </div>
                    </a>
                </div>
              </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link py-0 d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{path}}assets/images/avatars/01.png" alt="User-Profile" class="img-fluid avatar avatar-50 avatar-rounded">
            <div class="caption ms-3 ">
                <h6 class="mb-0 caption-title">Wade Warren</h6>
                <p class="mb-0 caption-sub-title">Super Admin</p>
            </div>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li class="border-0"><a class="dropdown-item" href="{{path}}dashboard/app/user-profile.html">Profile</a></li>
            <li class="border-0"><a class="dropdown-item" href="{{path}}dashboard/app/user-privacy-setting.html">Privacy Setting</a></li>
            <li class="border-0"><hr class="m-0 dropdown-divider"></li>
            <li class="border-0"><a class="dropdown-item" href="{{path}}dashboard/auth/sign-in.html">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>